<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index2.css">
</head>
<body>
    <form action="/user/join" method="post">
        <div>
            <input type="text" name="userid" placeholder="아이디를 입력">
        </div>
        <div>
            <input type="password" name="userpw" id="" placeholder="비밀번호를 입력">
        </div>
        <div>
            <input type="text" name="username" id="" placeholder="이름을 입력">
        </div>
        <div>
            <button type="submit">전송</button>
        </div>
    </form>
</body>
</html>